.backnav {
  background-color: #cecccc;
  padding: 30px;

}

.backnavp {
  font-size: 150%;
  color: #ff2600;
}

.footericon {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
align-items: center;
}

.logoicon {
  width: 30px;
  transition: all 0.5s ease-in-out;
}

.logoicon:hover {
  width: 40px;

}

.copyright {
  overflow-x: hidden;
  background-color: #ff2600;
  align-items: center;
  justify-content: center;
  min-height: 60px;

}

.pcopyright {
  position: relative;
  color: white;
  top: 20px;

}

.scrollTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollTop:hover {
  opacity: 1;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}