@font-face {
  font-family: lalezar;
  src: url(../ttf/Lalezar-Regular.ttf);
  font-weight: normal;
}

.mainheader {
  text-align: center;
  margin-top: -5px;
  overflow-x: hidden;
  min-height: calc(100vh - 76px);
  background-image: url("../image/13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  height: 100vh;
  width: 100%;
}

.mainheader2 {
  margin-bottom: 4% !important;
  position: relative;
  top: 120px;
  left: -20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 50px 0;
  font-size: 40px;
  font-family: lalezar;
  color: #eccdcd;
  margin-bottom: 0;
  position: relative;
  left: 2%;
}

.searchContainer {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.mainform {
  width: 100%;
}

.mainsearch {
  height: 55px;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: #eccdcd;
  opacity: 0.45;
  padding-left: 5%;
  padding-right: 2%;
  font-size: 16px;
  text-align: center;
}

.mainsearch:active {
  border: none;
}

.mainsearch::placeholder {
  color: #333;
}

.mainheader input[placeholder]:hover {
  color: black;
  cursor: pointer;
}

.bigsearch {
  position: absolute;
  top: 60px;
  /* فاصله از input */
  left: 0;
  width: 100%;
  background-color: #eccdcd;
  z-index: 10;
  overflow-y: auto;
  max-height: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eccdcd;
  padding: 8px 12px;
  width: 100%;
  border-bottom: 1px solid white;
}

.searchlink {
  color: black;
  font-size: 15px;
  text-decoration: none;
  flex: 1;
  text-align: right;
}

.searchlink:hover {
  color: #ff3737;
}

.imgsearch {
  width: 45px;
  height: 35px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 10px;
}

@media (max-width: 480px) {
  .searchContainer {
    margin-left: 17%
  }
}